<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation"> <%= link_to "Account Details", edit_user_registration_path %></li>
      <li role="presentation"> <%= link_to "Deposit",my_account_deposit_path %></li>
      <li role="presentation"> <%= link_to "Withdraw", my_account_withdraw_path %></li>
      <li role="presentation"> <%= link_to "Transfer", my_account_transfer_path %></li>
    </ul>
  </div>
</nav>

<div class="main-container">

  <h2>Account Details </h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <br />
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
    <br />
    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
    <br />
    <div class="field">
      <%= f.label :state %>
      <%= f.select :state, options_for_select(us_states) %>
    </div>
    <br />
    <div class="field">
      <%= f.label :zip %>
      <%= f.text_field :zip %>
    </div>
    <br />
    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <br />
    <div class="field">
      <%= f.label :country %>
      <%= f.select :country, options_for_select(countries) %>
    </div>
    <br />
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %> <br />
      <i>(leave blank if you don't want to change it)</i>
    </div>
    <br />
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <br />
    <div class="field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "off" %> <br />
      <i>(we need your current password to confirm your changes)</i>
    </div>
    <br />
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>


