<div class="devise">

<h2>Sign Up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: "Full Name" %>
  </div>
    <br />
  <div class="field">
    <%= f.email_field :email, placeholder: "Email" %>
  </div>
    <br />
  <div class="field">
    <%= f.text_field :username, placeholder: "Username" %>
  </div>
    <br />
   <div class="field">
    <%= f.text_field :address, placeholder: "Address" %>
  </div>
    <br />
  <div class="field">
    <%= f.text_field :city, placeholder: "City" %>
  </div>
    <br />
  <div class="field">
    <%= f.select :state, options_for_select(us_states) %>
  </div>
    <br />
  <div class="field">
    <%= f.text_field :zip, placeholder: "Zip" %>
  </div>
     <br />
  <div class="field">
    <%= f.select :country, options_for_select(countries) %>
  </div>
     <br />
   <div class="field">
    <%= f.text_field :phone, placeholder: "Phone" %>
  </div>
     <br />
  <div class="field">
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
  </div>
     <br />
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %>
  </div>
    <br />
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
