  <table class="table table-responsive">
    <% @dates.each do |date| %>
        <% @props.each do |prop| %>
          <% if prop.time.to_date === date %>
            <tr>
              <td colspan="5" class="prop-time"> <span> <%= prop.time.strftime("%B %-d, %Y %n %l:%M %P EST") %> </span> </td>
            </tr>
            <tr>
              <td class="odd"> <%= button_tag prop.prop_choices.first.name, type: "button", class: "wager-btn", data: { propchoiceid: prop.prop_choices.first.id} %> </td>
              <td> <%= prop.prop_choices.first.display_line %> </td>
              <td class="prop-proposition"> <%= prop.proposition %> </td>
              <td> <%= prop.prop_choices.last.display_line %> </td>
              <td class="even right"> <%= button_tag prop.prop_choices.last.name, type: "button", class: "wager-btn", data: { propchoiceid: prop.prop_choices.last.id} %> </td>
            </tr>
            <tr>
            <td> Bet ID Side </td> <td></td>
            <td class="prop-timer"> Countdown Timer </td> <td></td>
            <td> <span class="right"> Bet ID Side </span> </td>
            </tr>
          <% end %>
        <% end %>
    <% end %>
  </table>


