  <table class="table table-responsive">
    <% @dates.each do |date| %>
        <% @props.each do |prop| %>
          <% if prop.time.to_date === date %>
            <tbody class="<%= cycle 'white', 'gray'%>">
            <tr>
              <td colspan="5" class="prop-time"> <span> <%= prop.time.strftime("%B %-d, %Y %n %l:%M %P EST") %> </span> </td>
            </tr>
            <tr>
              <td class="odd"> <%= button_tag prop.prop_choices.first.name, type: "button", class: "wager-btn odd", data: { propchoiceid: prop.prop_choices.first.id} %> </td>
              <td class="odd-line"> <%= prop.prop_choices.first.display_line %> </td>
              <td class="prop-proposition"> <%= prop.proposition %> </td>
              <td class="even-line"> <%= prop.prop_choices.last.display_line %> </td>
              <td class="even right"> <%= button_tag prop.prop_choices.last.name, type: "button", class: "wager-btn even", data: { propchoiceid: prop.prop_choices.last.id} %> </td>
            </tr>
            <tr>
            <td class="available-odd bold"> Max Wager: <%= number_to_currency prop.prop_choices.first.available_dollars %> </td> <td></td>
            <td class="prop-timer" data-time="<%= prop.time.to_i * 1000 + 18000000 %>"> </div> </td> <td></td>
            <td> <span class="available-even right bold"> Max Wager: <%= number_to_currency prop.prop_choices.last.available_dollars %> </span> </td>
            </tr>
            </tbody>
          <% end %>
        <% end %>
    <% end %>
  </table>


<script type='text/javascript'>
  $(document).ready(function(){
    setInterval(function () {
      var countdowns = $('.prop-table').find('.prop-timer'), i;
      for (var i = 0; i < countdowns.length; i ++) {
        var target_date = $(countdowns[i]).data('time')
        var hours, minutes, seconds;
        var current_date = new Date().getTime();
        var seconds_left = (target_date - current_date) / 1000;
        hours = parseInt(seconds_left / 3600);
        seconds_left = seconds_left % 3600;
        minutes = parseInt(seconds_left / 60);
        seconds = parseInt(seconds_left % 60);
        if (hours.toString().length == 1) {
          hours = "0" + hours;
        }
        if (minutes.toString().length == 1) {
          minutes = "0" + minutes;
        }
        if (seconds.toString().length == 1) {
          seconds = "0" + seconds;
        }
        if (hours <= 0 && minutes <= 0 && seconds <= 0 ) {
          $(countdowns[i]).text("Event has started.");
        } else {
          $(countdowns[i]).text("Starts In " + hours + ":" + minutes + ":" + seconds);
        }
      }
    }, 1000);

    setInterval(function () {
      var wagers = $('.prop-table').find('.wager-btn');
      $.each(wagers, function(index, value) {
        $.ajax({
          url: "/pc",
          type: "GET",
          data: {prop_choice_id: $(value).data('propchoiceid')},
          success: function (data) {
            updateAvailable(data, value);
          },
          error: function (xhr, status, error) {
            console.log(status + error);
          }
        });
      });
    }, 4000);

    function updateAvailable (responseData, value) {
          available = responseData.available_dollars;
          td = $(value).closest('td');
          container = $(td).closest('tbody');
          if ($(td)[0].classList.contains("odd")) {
            var odd = container.find('.available-odd')
            odd.html("Max Wager: $" + available.toFixed(2))
            if (available == 0) {
              $(odd).removeClass("bold")
            } else {
              $(odd).addClass("bold")
            }
          } else {
            var even = container.find('.available-even')
            even.html("Max Wager: $" + available.toFixed(2))
            if (available == 0) {
              $(even).removeClass("bold")
            } else {
              $(even).addClass("bold")
            }
          }
    }
  })
</script>




