<div class="row main-content">

  <div class ="col-md-2 prop-sports">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "live_draft.jpg", title: "Live-Draft", alt: "Live-Draft" %>
    </div>

    <div class="item">
      <%= image_tag "sportsticker.jpg", title: "Sportsticker", alt: "Sportsticker" %>
    </div>

    <div class="item">
      <%= image_tag "Matchup-Contests.png", title: "Matchup-Contests", alt: "Matchup-Contests" %>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>

  <div class="col-md-7 wrapper">
    <div class="col-md-7 note">
    <div class="row">
    <div class="notice-disclaimer"><p>Notice: All matchup contests are offered by customers. </p>
    </div>
    </div>
    </div>
    <div class="col-md-5 prop-search">
    <%= form_tag props_path, id: "search", method: :get, remote: true do %>
      <%= text_field_tag :q, "", placeholder: "Prop Search (enter a team or player name)" %>
      <%= submit_tag "Search" %>
    <% end %>
    </div>


    <div class="matchups">
      <%= render "proplist" %>
    </div>
  </div>

  <div class ="col-md-3 ticket">
    <h5> Fantasy Ticket </h5>
      <div class="alert hidden">
      </div>

    <%= form_tag wagers_path, method: :post, remote: true do %>
      <table>

        <tbody class="actions hidden">
        <tr>
          <td colspan="6"> <%= password_field_tag 'password', nil, placeholder: "password to confirm" %> </td>
          <td> <%= submit_tag "Submit", class: "wager-submit" %> </td>
        </tr>
        </tbody>

        <tbody class="new-wager-row wager hidden">
        <tr>
          <td colspan="6"> <p type="text" class="success hidden"></p></td>
        </tr>
        <tr>
          <td colspan="6"> <p type="text" class="failure hidden"></p></td>
        </tr>
        <tr>
          <td colspan="6"> <p type="text" class="wager-info"></p> </td>
          <td> <%= button_tag "", type: "button", class: "delete-wager glyphicon glyphicon-remove" %> </td>
        </tr>
        <tr>
          <td id="risk"> <strong> Risk </strong> <%= text_field_tag "wager[][risk_dollars]", nil, class: "wager-risk", value: number_with_precision(0.00, precision: 2) %> </td>
          <td id="win"> <strong> Win </strong> <input type="text" class="wager-win" value="0.00"> </td>
          <td> <%= text_field_tag "wager[][prop_id]", nil, class: "wager-prop-id hidden", readonly: "readonly" %> </td>
          <td> <%= text_field_tag "wager[][prop_choice_id]", nil, class: "wager-prop-choice-id hidden", readonly: "readonly" %> </td>
          <td> <%= text_field_tag "wager[][odds]", nil, class: "wager-odds hidden", readonly: "readonly" %> </td>
          <td> <%= text_field_tag "wager[][spread]", nil, class: "wager-spread hidden", readonly: "readonly" %> </td>
        </tr>
        </tbody>

      </table>
    <% end %>
  </div>
</div>

