<div class="container padding-large-horizontal">

  <div class ="col-md-2">
    <% @sports.each do |sport| %>
      <%= link_to sport.name, {controller: "props", action: "index", sport_id: sport.id}, method: :get %>
      <br />
    <% end %>
  </div>

  <div class="col-md-7 prop-table">
    <table class="table table-responsive">
    <% @dates.each do |date| %>
      <tr> <td class="prop-date" colspan="3"> <%= date.strftime("%B %-d, %Y") %> </td></tr>
        <% @props.each do |prop| %>
          <% if prop.time.to_date === date %>
            <tr>
            <td class="prop-proposition" colspan="3"><%= prop.proposition %> </td>
            </tr>
            <tr>
            <td rowspan="<%= prop.prop_choices.count %>" class="vert-align"> <div class="prop-time"> <span class="time"><%= prop.time.strftime("%H:%M EST") %> </span></div></td>
            <% prop.prop_choices.each do |choice| %>
              <td class="prop-name choice-<%= cycle 'odd', 'even' %>"> <%= choice.name %> </td>
              <td> <%= button_tag choice.display_line, type: "button", class: "wager-btn", data: { propchoiceid: choice.id} %> </td>
            </tr>
            <% end %>
          <% end %>
        <% end %>
    <% end %>
    </table>
  </div>

  <div class ="col-md-3 ticket">
    <h5> Betting Ticket </h5>

    <div class = "wager-types hidden">
      <%= button_tag "Straight" %>
      <%= button_tag "Parlay" %>
      <%= button_tag "Teaser" %>
    </div>

    <%= form_tag wagers_path do %>
      <table>

        <tr class="actions hidden">
          <td>Enter your password to confirm <%= password_field_tag %> </td>
          <td> <%= submit_tag "Submit" %> </td>
        </tr>

        <tbody class="new-wager-row hidden">
        <tr>
          <td> <input type="text" class="wager-info" readonly> </td>
        </tr>
        <tr>
          <td> <%= text_field_tag "wager[][prop_id]", nil, class: "wager-prop-id hidden", readonly: "readonly" %> </td>
          <td> <%= label_tag "Risk" %> <%= text_field_tag "wager[][risk_dollars]", nil, class: "wager-risk", value: 0.00 %> </td>
          <td> to Win <input type="text" class="wager-win" value="0.00"> </td>
          <td> <%= text_field_tag "wager[][prop_choice_id]", nil, class: "wager-prop-choice-id hidden", readonly: "readonly" %> </td>
          <td> <%= text_field_tag "wager[][odds]", nil, class: "wager-odds hidden", readonly: "readonly" %> </td>
          <td> <%= text_field_tag "wager[][spread]", nil, class: "wager-spread hidden", readonly: "readonly" %> </td>
          <td> <%= text_field_tag "wager[][total]", nil, class: "wager-total hidden", readonly: "readonly" %> </td>
          <td> <%= button_tag "", type: "button", class: "delete-wager glyphicon glyphicon-remove" %> </td>
        </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

