<div class="container padding-large-horizontal">

  <div class ="col-md-2">
    <% @sports.each do |sport| %>
      <%= link_to sport.name, {controller: "props", action: "index", sport_id: sport.id}, method: :get %>
      <br />
    <% end %>
  </div>

  <div class="col-md-8 prop-table">
    <table class="table table-responsive">
    <% @dates.each do |date| %>
      <tr> <td class="prop-date" colspan="3"> <%= date.strftime("%B %-d, %Y") %> </td></tr>
        <% @props.each do |prop| %>
          <% if prop.time.to_date === date %>
            <tr>
            <td class="prop-proposition" colspan="3"><%= prop.proposition %> </td>
            </tr>
            <tr>
            <td rowspan="<%= prop.prop_choices.count %>" class="vert-align"> <div class="prop-time"> <span class="time"><%= prop.time.strftime("%H:%M EST") %> </span></div></td>
            <% prop.prop_choices.each do |choice| %>
              <td class="prop-name"> <%= choice.name %> </td>
              <td> <%= button_tag(type: "button", class: "wager-btn") do %>
                <%= content_tag(:strong, choice.display_line) %>
              <% end %> </td>
            </tr>
            <% end %>
          <% end %>
        <% end %>
    <% end %>
    </table>
  </div>

  <div class ="col-md-2">
    <h5> Betting Ticket </h5>
    <%= form_tag wagers_path do %>

    <% end %>
  </div>
</div>

