<div class="container-fluid padding-large-horizontal">

  <div class ="col-md-2 prop-sports">
    <% @sports.each do |sport| %>
      <%= link_to sport.name, {controller: "props", action: "index", sport_id: sport.id}, method: :get, remote: true %>
      <br />
    <% end %>
  </div>

  <div class="col-md-7 prop-table">
    <%= form_tag props_path, id: "search", method: :get, remote: true do %>
      <%= text_field_tag :q, "", placeholder: "Prop Search (enter a team or player name)" %>
      <%= submit_tag "Search" %>
    <% end %>

    <div id="props">
      <%= render "proplist" %>
    </div>
  </div>

  <div class ="col-md-3 ticket">
    <h5> Betting Ticket </h5>

    <div class = "wager-types hidden">
      <%= button_tag "Straight", class: "straight-btn" %>
      <%= button_tag "Parlay", class: "parlay-btn" %>
      <%= button_tag "Teaser", class: "teaser-btn" %>
    </div>

    <% if flash[:alert] %>
      <div class="alert">
        <%= alert %>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="notice">
        <%= notice %>
      </div>
    <% end %>

    <%= form_tag wagers_path do %>
      <table class="straight">

        <tbody class="actions hidden">
        <tr>
          <td> <%= password_field_tag 'password', nil, placeholder: "password to confirm" %> </td></tr>
         <tr> <td> <%= submit_tag "Submit", class: "wager-submit" %> </td> </tr>
        </tr>
        </tbody>

        <tbody class="new-wager-row wager hidden">
        <tr>
          <td colspan="7"> <p type="text" class="wager-info"></p> </td>
          <td> <%= button_tag "", type: "button", class: "delete-wager glyphicon glyphicon-remove" %> </td>
        </tr>
        <tr>
          <td id="risk"> <strong> Risk </strong> <%= text_field_tag "wager[][risk_dollars]", nil, class: "wager-risk", value: number_with_precision(0.00, precision: 2) %> </td>
          <td> <strong> Win </strong> <input type="text" class="wager-win" value="0.00"> </td>
          <td> <%= text_field_tag "wager[][prop_id]", nil, class: "wager-prop-id hidden", readonly: "readonly" %> </td>
          <td> <%= text_field_tag "wager[][prop_choice_id]", nil, class: "wager-prop-choice-id hidden", readonly: "readonly" %> </td>
          <td> <%= text_field_tag "wager[][odds]", nil, class: "wager-odds hidden", readonly: "readonly" %> </td>
          <td> <%= text_field_tag "wager[][spread]", nil, class: "wager-spread hidden", readonly: "readonly" %> </td>
          <td> <%= text_field_tag "wager[][total]", nil, class: "wager-total hidden", readonly: "readonly" %> </td>

        </tr>
        </tbody>
      </table>
    <% end %>

    <div class="teaser hidden">
      Teasers here
    </div>

    <div class="parlay hidden">
      Parlays here
    </div>


  </div>
</div>

