<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <%= @wager.user.username %>, your contest of <%= @wager.prop.prop_choices.first.name %> Vs. <%= @wager.prop.prop_choices.last.name %> has begun.  <br/>
  Your Contest Details: <br/><br/>
  Selection: <%= @wager.prop_choice.name %> <br/>
  Buy-In: <%= number_to_currency @wager.risk_dollars %> <br/>
  Win: <%= number_to_currency @wager.win_dollars %> <br/> <br/>
  Good Luck, <br/> <br/>
  FantasyBook.guru
</body>
</html>
