<div class="container padding-large-horizontal">

<div class="right">
  <%= form_tag(my_fantasy_my_history_path, method: :get) do %>
      <%= label_tag :beg_date, "Start Date" %>
      <div class="input-group date" id="datetimepicker">
        <%= text_field_tag :beg_date, nil, value: params[:beg_date], class: 'form-control', data: { date_format: 'YYYY/MM/DD' } %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
      <%= label_tag :end_date, "End Date" %>
      <div class="input-group date" id="datetimepicker2">
        <%= text_field_tag :end_date, nil, value: params[:end_date], class: 'form-control', data: { date_format: 'YYYY/MM/DD' } %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    <%= submit_tag "Submit" %>
  <% end %>
</div>

<table class="table table-striped table-responsive">
<thead>
<tr>
  <th> Ticket # </th>
  <th> Selection </th>
  <th> Risk </th>
  <th> Win </th>
  <th> Result </th>
</tr>
</thead>
  <% @wagers.each do |wager| %>
    <% @result_counter += wager.result %>
    <tr>
    <td> <a href="#" class="seeMore">+</a> <%= wager.id %> </td>
    <td class="more"> <p class="selection"><%= wager.prop_choice.name %> </p>
      <table class="hidden moreContent">
        <tr>
          <td> Event Time: </td>
          <td class="pad"> <%= wager.prop.time.strftime("%m/%d/%y  %H:%M EST") %> </td>
        </tr>
        <tr>
          <td> Ticket Accepted At: </td>
          <td class="pad"> <%= wager.created_at.strftime("%m/%d/%y  %H:%M EST") %> </td>
        </tr>
        <tr>
          <td> Sport: </td>
          <td class="pad"> <%= wager.prop.sport.name %> </td>
        </tr>
        <tr>
          <td> Opponent: </td>
          <td class="pad"> <%= wager.opponent %> </td>
        </tr>
        <tr>
          <td> Odds: </td>
          <td class="pad"> <%= wager.odds_juice %> </td>
        </tr>
      </table> </td>
    <td> <%= number_to_currency wager.risk_dollars %> </td>
    <td> <%= number_to_currency wager.win_dollars %> </td>
    <td> <%= number_to_currency wager.result %> </td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td> <%= number_to_currency @result_counter %> </td>
  </tr>
</table>

</div>
