<div class="container padding-large-horizontal">

<table class="table table-striped table-responsive">
<thead>
<tr>
  <th> Ticket # </th>
  <th> Event Time </th>
  <th> Selection </th>
  <th> Risk </th>
  <th> Win </th>
  <th> Result </th>
  <th> Placed At </th>
</tr>
</thead>
  <% @wagers.each do |wager| %>
    <div class="wager">
    <tr>
    <td> <a href="#" class="seeMore">+</a> <%= wager.id %> </td>
    <td><%= wager.prop.time.strftime("%m/%d/%y  %H:%M EST") %> </td>
    <td><%= wager.prop_choice.name %> </td>
    <td><%= number_to_currency wager.risk_dollars %> </td>
    <td><%= number_to_currency wager.win_dollars %> </td>
    <td><%= number_to_currency wager.result %> </td>
    <td><%= wager.created_at.strftime("%m/%d/%y  %H:%M EST") %> </td>
    </tr>
    <tr>
    <td>
      <div class="hidden moreContent">
      more info
      </div>
    </td>
    </tr>
    </div>
  <% end %>
</table>

</div>
