<div class="container padding-large-horizontal">
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th> Date Awarded </th>
        <th> Expires </th>
        <th> Status </th>
        <th> Amount </th>
        <th> Released </th>
        <th> Unpaid * </th>
        <th> Remaining </th>
        <th> Rollover Req. </th>
        <th> Type </th>
      </tr>
    </thead>
    <% @bonuses.each do |bonus| %>
      <tr>
        <td> <%= bonus.created_at.strftime("%m/%d/%y") %> </td>
        <td> <%= bonus.exp_date.strftime("%m/%d/%y") %> </td>
        <td> <%= bonus.state %> </td>
        <td> <%= number_to_currency bonus.amount_dollars %> </td>
        <td> <%= number_to_currency bonus.released_dollars %> </td>
        <td> <%= number_to_currency bonus.earned %> </td>
        <td> <%= number_to_currency bonus.pending_dollars %> </td>
        <td> <%= bonus.rollover %>x</td>
        <td> <%= bonus.description %> </td>
      </tr>
    <% end %>
  </table>

  <p> * Bonuses are released in ten dollar increments. </p>
</div>
