<div class="container padding-large-horizontal">

<%= form_tag my_account_deposit_path do %>
  <%= label_tag :amount_dollars, "Amount" %>
  <%= text_field_tag :amount_dollars, nil, value: params[:amount_dollars] %> <br /><br />
  <%= label_tag :bonus_code, "Bonus Code" %>
  <%= text_field_tag :bonus_code, nil, value: params[:bonus_code] %> <br /><br />

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Deposit"
          data-label="Deposit">
  </script>
<% end %>


</div>
