<div class="container padding-large-horizontal">

  <div class ="col-md-6 transfer-form">
     <div class="left"> Current Balance: </div> <div class="right"> <%= number_to_currency current_user.balance_dollars %> </div>
     <div class="left"> Sender: </div> <div class="right"> <%= current_user.username %> </div>

    <%= form_tag transfers_path do %>
      <%= label_tag :receiver %>
      <%= text_field_tag :receiver %>
      <%= label_tag :amount_dollars, "Amount" %>
      <%= number_field_tag :amount_dollars %>
      <%= submit_tag "Transfer" %>
    <% end %>
  </div>

  <div class ="col-md-6">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th> Date </th>
          <th> Status </th>
          <th> Side </th>
          <th> Amount </th>
        </tr>
      </thead>
      <% @transfers.each do |transfer| %>
        <tr>
        <td><%= transfer.created_at.strftime("%m/%d/%y") %> </td>
        <td><%= transfer.state %> </td>
        <td><%= transfer.side(current_user) %> </td>
        <td><%= number_to_currency transfer.amount_dollars %> </td>
      <% end %>
</tr>
</table>



  </div>



</div>
