<!DOCTYPE html>
<html>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<head>
  <title>FantasyBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-left">
        <%= link_to root_path do %>
          <%= image_tag "fb-silver2.png", title: "FantasyBook Logo", width: "221", height: "109" %>
        <% end %>
        <%= button_tag(type: "button") do %>
          <% link_to "Fantasy Prop Contests", props_path %>
        <% end %>
      </div>

      <div class="navbar-right">
        <% if current_user %>
          <p class="navbar-text">Welcome, <%= current_user.username %> </p>
          <p class="navbar-text"> Balance: <%= number_to_currency current_user.balance_dollars %> </p>
          <p class="navbar-text">
            <%= link_to "My Fantasy", my_fantasy_my_action_path %> |
            <%= link_to "My Account", edit_user_registration_path %> |
            <%= link_to "Deposit", my_account_deposit_path %> |
            <%= link_to "Withdraw", my_account_withdraw_path %> |
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </p>
        <% else %>
          <p class="navbar-text">
            <%= link_to "Sign In", new_user_session_path %> |
            <%= link_to "Sign Up", new_user_registration_path %> </p>
        <% end %>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <ul class="nav nav-tabs">
        <li role="presentation" class="<%= 'active' if current_page?(my_fantasy_my_action_path) %>"> <%= link_to "My Action", my_fantasy_my_action_path %></li>
        <li role="presentation" class="<%= 'active' if current_page?(my_fantasy_my_history_path) %>"> <%= link_to "My History", my_fantasy_my_history_path %></li>
      </ul>
    </div>
  </nav>

  <nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-left">
        <p class="navbar-text">
          <%= link_to "Contact Us", contact_us_path %> |
          <%= link_to "Rules", rules_path %> |
          <%= link_to "Privacy Policy", privacy_policy_path %> |
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.fantasybook.guru" data-text="Check out this site for a new way to wager on daily fantasy matchups." data-count="none">Recommend Us</a> |

          <a href="https://twitter.com/intent/tweet?screen_name=fantasybooklive" class="twitter-mention-button" data-related="fantasybooklive">Tweet to @fantasybooklive</a>

          <div class="fb-like" data-href="https://www.facebook.com/pages/Fantasybookguru/1503513283269643" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>

          <div class="fb-like" data-href="https://www.facebook.com/pages/Fantasybookguru/1503513283269643" data-layout="button" data-action="recommend" data-show-faces="true" data-share="true"></div> <br/>
        </p>
      </div>
    </div>
  </nav>

  <% if flash[:alert] %>
    <div class="alert">
      <%= alert %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
